{% extends 'base.html.twig' %}

{% block title %}BiancaManLoginPage!{% endblock %}
{% block custom_css %} <link rel="stylesheet" type="text/css" href="{{asset('/BiancaMan/css/login.css')}}" />{% endblock %}
{% block body %}
<div class="aptitudini-wrapper"> <nav> <a href="/bianca/man">Home </a> <a href="/bianca/man/galerie">Galerie </a>  </nav>
<div class="loginForm">   

   
    {{ form_start(form) }}
       {{ form_widget(form) }}
        
        <button 
        type="submit" 
        class="logInButton">
        Login
    </button>
    {{ form_end(form) }}
   {% if wrongCredentials == true %}Username sau parola gresite{% endif %}
</div>
{% endblock %}
