<?xml version="1.0" encoding="utf-8"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="Content-Language" content="RO"/>
<meta name="charset" content="UTF-8"/>
<meta name="language" content="RO"/>
<meta name="description" content="FIH"/>
<link rel="stylesheet" type="text/css" href="/BibicuDorin/css/still.css"/>
<script type="text/javascript" src="../personal.js"></script>

<meta name="author" content="BD"/>
<meta name="keywords" content="Bibicu D"/>
<title>Bibicu Dorin</title>


<style type="text/css">
#content {margin-right: 0px;}
</style>

<style>   
.wrapingimage  
{  
float: left;   
margin: 30px 12px 3px 4px;   
border: 2px solid blue;  
}  
.resizeimage  
{  
width: 100px;
height: 100px;
float: left;  
margin: 20px 12px 3px 4px;   
border: 2px solid blue;  
}   
</style>  

</head>
<body>
<div id="wrap">
<table width="100%" style="padding:0;margin:0">
  <tr>
    <td id="logo">
    <img src="/BibicuDorin/img/siglaUgal.png" class="resizeimage" />
    </td>
    <td id="header">
      <h1><a href="/loginDB">Dorin BIBICU</a></h1>
      <h3>Lector universitar doctor</h3>
      <p>Universitatea Dunărea de Jos din Galați</p>
      <p>Facultatea de Economie și Administrarea Afacerilor</p>
    </td>
    <td id="poza">
        <img src="/BibicuDorin/img/siglaFEAA.png" class="resizeimage"/>
    </td>
  </tr>
</table>



<br><br>
<div id="avmenu">
  <h2 class="hide">Menu:</h2>
  <ul>
    <li><a href="/BibicuDorin/index">Home</a></li>
    <li><a href="/BibicuDorin/biografie">Biografie</a></li>
    <li><a href="/BibicuDorin/activitateaDidactica">Activitate didactică</a></li>
    <li><a href="/BibicuDorin/activitateaStiintifica">Activitate ştiinţifică</a></li>
    <li><a href="/BibicuDorin/materiale">Materiale didactice</a></li>
    <li><a href="/BibicuDorin/galerie">Galerie de imagini</a></li>
    <li><a href="/BibicuDorin/contact">Contact</a></li>
    <script type="text/javascript" src="/md/link.js?u=3"></script>
  </ul>
  <div class="announcel">
    <h3>Links:</h3>
    <p>- <a href="http://www.ugal.ro/">Universitatea Dunărea de Jos din Galați</a></p>
    <p>- <a href="https://feaa.ugal.ro/">Facultatea de Economie și Administrarea Afacerilor</a></p>
  </div>
</div>


<div id="content">
  <div align="center">
  <h2>Contact</h2>
</div>

<table id="contact" cellspacing="0" cellpadding="0" width="100%" border="0">
    <tr>
      <td colspan="2">
	Dorin BIBICU<br/>
	Lector, Ph.D.
      </td>
      <td rowspan="6" align="right">
	<img src="/BibicuDorin/img/dorin2.jpg" alt="Contact" width="250" height="270" align="middle"/>
      </td>
    </tr>
    <tr>
      <td width="20">
	<img src="/BibicuDorin/img/icon-adress.png" alt="Address" title="Address" class="icon"/>
      </td>
      <td>Dunărea de Jos University  of Galati, Romania 
	Faculty of Economics and Business Administration<br/>
	Nicolae Bălcescu no. 59-61,<br/>
	Galati, Romania
      </td>
    </tr>
    <tr>
      <td><img src="/BibicuDorin/img/icon-mail.png" alt="Email" title="Email" class="icon"/></td>
      <td><a href = "mailto: dorin.bibicu@ugal.ro">dorin.bibicu@ugal.ro</a></td>
    </tr>
    <tr>
      <td><img src="/BibicuDorin/img/icon-tel.png" alt="Telephone" title="Telephone" class="icon"/></td>
      <td>Tel: +40742451405</td>
    </tr>
    <tr>
      <td><img src="/BibicuDorin/img/icon-fax.png" alt="Fax" title="Fax" class="icon"/></td>
      <td>Fax: -</td>
    </tr>
    <tr>
      <td><img src="/BibicuDorin/img/icon-yahoo.png" alt="Yahoo" title="Yahoo ID" class="icon"/></td>
      <td><a href = "mailto: bibicud@yahoo.com">bibicud@yahoo.com</a> </td>
    </tr>
</table>


    <p align="right">Ultima actualizare 26.03.2023</p>
</div>
<div id="footer">
&ndash; 2023 B.D. &ndash; 
</div>

</div>
</body>
</html>

