{% extends 'base.html.twig' %}

{% block title %}Edit BlogPost{% endblock %}

{% block body %}
    <h1>Edit BlogPost</h1>

    {{ include('blog_post/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_blog_post_index') }}">back to list</a>

    {{ include('blog_post/_delete_form.html.twig') }}
{% endblock %}
