<!DOCTYPE html>
<html>
<head>
  <title>Cristian Zabrian | Profil</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
      margin: 0;
      padding: 20px;
    }

    .card {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 70vw;
      height: 80vh;
      margin: 0 auto;
      background-color: #ffffff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
    }

    .card img {
      width: 50%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      
    }

    .card-content {
      flex-grow: 1;
      padding-left: 20px;
    }

    .name {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .about {
      font-size: 16px;
      color: #888888;
    }

    .button-container {
        margin-top: 40px;
      text-align: center;
    }

    .button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #007bff;
      color: #ffffff;
      text-decoration: none;
      border-radius: 4px;
      transition: background-color 0.3s ease;
    }

    .button:hover {
      background-color: #0056b3;
    }
  </style>
</head>
<body>
  <div class="card">
    <img src="CZabrian.jpg" alt="Profile Picture">
    <div class="card-content">
      <div class="name">Cristian Zabrian</div>
      <div class="about">
        Sunt student la Universitatea "1 Decembrie 1918" din Alba Iulia, master, anul II, la specializarea Programare Avansată și Baze de Date. Îmi place să vizionez filme, să fac drumeții și ador mâncarea bună.
      </div>
      <div class="button-container">
        <a class="button" href="{{ path('login') }}">Acceseaza Blog</a>
      </div>
    </div>
  </div>
</body>
</html>
