@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #f2f2f2;
}

.container {
  margin: 2rem;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 20px;
}

.blog-content {
  width: 100%;
  display: flex;
}

.b-col-1 {
  width: 40%;
}

.b-col-2 {
  width: 60%;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blog-picture {
  border-radius: 10px;
  width: 100%;
  min-height: 20rem;
  object-fit: cover;
}

.author-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author-container {
  display: flex;
  width: 100%;
  margin-top: 1rem;
  height: 5rem;
}

.author-avatar {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  object-fit: cover;
}

.author-name {
  font-weight: bold;
  margin-left: 1.5rem;
}

.publish-date {
  color: #a8a8a8;
  font-weight: bold;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

span {
  margin-left: 0.5rem;
}

.nav {
  text-align: center;
  font-size: 1rem;
  border-bottom: 1px solid #dee2e6;
  padding-left: 5px;
  padding-right: 5px;
  height: 62px;
}

.nav-link {
  text-decoration: none;
  display: inline-block;
  padding: 13px 13px;
  color: #212529;
  margin-right: 5px;
}

.nav-link:hover {
  text-decoration: none;
  /* border-bottom: 2px solid #007bff; */
  background-color: #d0ebff;
}

.nav-link.current {
  border-bottom: 2px solid #1971c2;
}
.btn {
  padding: 10px 20px;
  font-size: 1rem;
}
@media (min-width: 768px) {
  .nav {
    font-size: 1.1rem;
    padding-left: 10px;
    padding-right: 10px;
  }
  .nav-link {
    padding: 20px 20px;
  }
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70vw;
  height: 70vh;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.card-content {
  flex-grow: 1;
  padding: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: 20rem;
  box-sizing: border-box;
}

.btn-primary {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  margin-top: 40px;
  width: 170px;
}

.btn-primary:hover {
  background-color: #0056b3;
}
