<!DOCTYPE html>
<html lang="ro-ro" dir="ltr">
<head>
    <meta charset="utf-8">
	<meta name="author" content="opopao">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Maria STAN Activitate didactică">
	<meta name="generator" content="Joomla! - Open Source Content Management">
	<title>CV profesional Maria STAN</title>

        <link href="css/joomla-fontawesome.min.css?901ea6599d4fb5ee020b0b4aac736d8c" rel="lazy-stylesheet" /><noscript>
        <link href="css/joomla-fontawesome.min.css?901ea6599d4fb5ee020b0b4aac736d8c" rel="stylesheet" /></noscript>
        <link href="css/colors_alternative.min.css?901ea6599d4fb5ee020b0b4aac736d8c" rel="stylesheet" />
        <link href="css/template.min.css?901ea6599d4fb5ee020b0b4aac736d8c" rel="stylesheet" />
        <link href="css/joomla-alert.min.css?0.2.0" rel="stylesheet" />
        <link href="css/user.css?901ea6599d4fb5ee020b0b4aac736d8c" rel="stylesheet" />

	<style>:root {
		--hue: 214;
		--template-bg-light: #f0f4fb;
		--template-text-dark: #495057;
		--template-text-light: #ffffff;
		--template-link-color: #2a69b8;
		--template-special-color: #001B4C;
		
	}</style>

</head>

<body class="site com_content wrapper-fluid view-article no-layout no-task itemid-113 has-sidebar-left">
    <header class="header container-header full-width"> 
        <div class="grid-child">
            <div class="navbar-brand">
Maria Stan pagina web personala
                                </div>
        </div>
        
                    <div class="grid-child container-nav">
                                    <ul class="mod-menu mod-list nav  nav-pills darkred">
<li class="nav-item item-103 default current active"><a href="/MariaNeculaStan/index" aria-current="page">Acasă</a></li>
<li class="nav-item item-113"><a href="/MariaNeculaStan/cv-profesional" >CV profesional</a></li>
<li class="nav-item item-105"><a href="/MariaNeculaStan/activitateDidactica" >Activitate didactică</a></li>
<li class="nav-item item-105"><a href="/MariaNeculaStan/activitateStiintifica" >Activitate științifică</a></li>
<li class="nav-item item-105"><a href="/MariaNeculaStan/galerie" >Galerie foto</a></li>
<li class="nav-item item-105"><a href="/MariaNeculaStan/contact" >Contact</a></li>

                                            </div>
            </header>

    <div class="site-grid">
        
        
        
                <div class="grid-child container-sidebar-left">
            <div class="sidebar-left card _menu well effect1">
        <div class="card-body">
<ul class="mod-menu mod-list nav  nav-list">
<li class="nav-item item-103 default current active"><a href="/MariaNeculaStan/index" aria-current="page">Acasă</a></li>
<li class="nav-item item-113"><a href="/MariaNeculaStan/cv-profesional" >CV profesional</a></li>
<li class="nav-item item-105"><a href="/MariaNeculaStan/activitateDidactica" >Activitate didactică</a></li>
<li class="nav-item item-105"><a href="/MariaNeculaStan/activitateStiintifica" >Activitate științifică</a></li>
<li class="nav-item item-105"><a href="/MariaNeculaStan/galerie" >Galerie foto</a></li>
<li class="nav-item item-105"><a href="/MariaNeculaStan/contact" >Contact</a></li>
</ul>
    </div>
</div>


        </div>
        
        <div class="grid-child container-component">
            
            
            <div id="system-message-container" aria-live="polite"></div>

            <main>
            <div class="com-content-article item-page" itemscope itemtype="https://schema.org/Article">
    <meta itemprop="inLanguage" content="ro-RO">
    
    
     
<div itemprop="articleBody" class="com-content-article__body">
        <div style="text-align: justify;">
<h1> </h1>
<h1> </h1>
<h2 class="mbrown" style="text-align: center;" align="center"><strong class="testscript">ACTIVITATE DIDACTICĂ</strong></h2>
<br>
<ul>
<li>Director - Liceul Tehnologic "Radu Negru" din Galați/2021-prezent</li>
<li>Profesor - la catedra de  informatică şi tehnologia informaţiei şi comunicațiilor - Liceul Tehnologic "Radu Negru" din Galați/2005-prezent</li>
<li>Profesor metodist al disciplinei informatică în cadrul I.S.J Galaţi</li>
<li>Membru al consiliului consultativ al disciplinei informatică, educație permanentă, proiecte europene - I.S.J Galaţi</li>
</ul>
<h3><strong>Activităţi şi responsabilităţi principale</strong>:</h3>
Desfăşurarea procesului instructiv-educativ, desfășurarea proiectelor educaționale, formarea adulţilor, îndrumarea şi perfecţionarea cadrelor didactice şi  consilierea elevilor în domeniul ocupării, alegerii carierei, instruirii şi formării complementare.

<br><br>
<h3><strong>Activităţi parțiale de muncă</strong>:</h3>
<ul>
    <li>Asistent asociat în domeniul inginerie industrială, Școala Doctorală de Inginerie mecanică și industrială- Facultatea de Ștințe și Mediu, Universitatea ”Dunărea de Jos” Galați/2017-2021</li>
    <li>Expert în Corpul de Experți al Corpului de Control al Ministerului Educației Naționale/2019-prezent</li>
    <li>Facilitator, monitor/2016-prezent</li>
    <li>Formator proiectul PODCA „Sistemul Informatic Integrat al Învăţământului din România” cod SMIS 39144/2014</li>
    <li>Formator proiectul PODCA „Platformă metodologică şi informatică pentru organizarea şi desfăşurarea programelor „Admiterea în învăţământul liceal de stat”, „Bacalaureat”, „Certificare a calificării profesionale”, „Mişcarea personalului didactic din învăţământul preuniversitar - Titularizarea”, „Euro 200” şi „Bani de liceu” din sistemul educaţional preuniversitar”. Cod SMIS: 32567/2014</li>    
<li>Formator proiect POSDRU/87/1.3/S/63154 ” Creşterea calităţii învăţământului preuniversitar românesc prin formarea personalului pentru utilizarea aplicaţiilor de management educaţional - MANAGEDU”./2014</li>
<li>Formator proiect POSDRU/55/1.1/S/25088 ”Cadru de referinţă al curriculumului naţional pentru învăţământul preuniversitar: un imperativ al reformei curriculare”./2013</li>
<li>Formator Proiect POSDRU/1/1.1/S/5 ID 4615 ”Competente cheie TIC in curriculum scolar”/2012</li>
<li>Formator ECDL Proiect POSDRU/87/1.3/S/54379/2012</li>
<li>Inspector şcolar cu delegaţie  – jumătate de normă, disciplina informatică în cadrul I.S.J. Galaţi/2012</li>
</ul>

<h3><strong>Distincții</strong>:</h3>
<ol>
    <li>Profesor pentru performanţă  - Inspectoratul Şcolar Judeţean Galaţi - 2011</li>
</ol>

<h3><strong>Afilieri</strong>:</h3>
<ol>
    <li>Membru fondator al Asociaţiei profesorilor de informatică “Tudor Sorin” Galaţi</li>
    <li>Membru fondator al Asociaţiei Părinţi-profesori-elevi Radu Negru Galaţi </li>
</ol>

 </div>

</main>
            
</div>

</div>

        <footer class="container-footer footer full-width">
            <div class="grid-child">
            
                <div id="mod-custom97" class="mod-custom custom">
                    <div><a href="https://radu-negru.ro/">Liceul Tehnologic "Radu Negru" din Galați</a></div>
                <div>&nbsp;</div></div>
                
                <div id="mod-custom105" class="mod-custom custom">
                    <div><a href="https://www.facebook.com/radunegrugl/">Facebook - Liceul Tehnologic "Radu Negru" din Galați </a></div>
                <div>&nbsp;</div></div>
                
                <div id="mod-custom106" class="mod-custom custom">
                    <div align=center><a href="https://sciences.ugal.ro/index.php/ro/">Facultatea de Științe și Mediu,<br> Universitatea "Dunărea de Jos" din Galați</a></div>
                <div>&nbsp;</div></div>
                
                        </div>
    </footer>
    
            <a href="#top" id="back-top" class="back-to-top-link" aria-label="Înapoi sus">
            <span class="icon-arrow-up icon-fw" aria-hidden="true"></span>
        </a>
    
    
<div id="mod-custom104" class="mod-custom custom">
    <p class="text-white text-center mx-auto" style="position: absolute; bottom: 0;"> © 2023 Maria STAN pagina web personala</p></div>

</body>
</html>
