<!DOCTYPE html>
<html lang="ro-ro" dir="ltr">
<head>
    <meta charset="utf-8">
	<meta name="author" content="opopao">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Maria STAN CV profesional">
	<meta name="generator" content="Joomla! - Open Source Content Management">
	<title>CV profesional Maria STAN</title>

        <link href="css/joomla-fontawesome.min.css?901ea6599d4fb5ee020b0b4aac736d8c" rel="lazy-stylesheet" /><noscript>
        <link href="css/joomla-fontawesome.min.css?901ea6599d4fb5ee020b0b4aac736d8c" rel="stylesheet" /></noscript>
        <link href="css/colors_alternative.min.css?901ea6599d4fb5ee020b0b4aac736d8c" rel="stylesheet" />
        <link href="css/template.min.css?901ea6599d4fb5ee020b0b4aac736d8c" rel="stylesheet" />
        <link href="css/joomla-alert.min.css?0.2.0" rel="stylesheet" />
        <link href="css/user.css?901ea6599d4fb5ee020b0b4aac736d8c" rel="stylesheet" />

	<style>:root {
		--hue: 214;
		--template-bg-light: #f0f4fb;
		--template-text-dark: #495057;
		--template-text-light: #ffffff;
		--template-link-color: #2a69b8;
		--template-special-color: #001B4C;
		
	}</style>

</head>

<body class="site com_content wrapper-fluid view-article no-layout no-task itemid-113 has-sidebar-left">
    <header class="header container-header full-width"> 
        <div class="grid-child">
            <div class="navbar-brand">
Maria Stan pagina web personala
                                </div>
        </div>
        
                    <div class="grid-child container-nav">
                                    <ul class="mod-menu mod-list nav  nav-pills darkred">
<li class="nav-item item-103 default current active"><a href="/MariaNeculaStan/index" aria-current="page">Acasă</a></li>
<li class="nav-item item-113"><a href="/MariaNeculaStan/cv-profesional" >CV profesional</a></li>
<li class="nav-item item-105"><a href="/MariaNeculaStan/activitateDidactica" >Activitate didactică</a></li>
<li class="nav-item item-105"><a href="/MariaNeculaStan/activitateStiintifica" >Activitate științifică</a></li>
<li class="nav-item item-105"><a href="/MariaNeculaStan/galerie" >Galerie foto</a></li>
<li class="nav-item item-105"><a href="/MariaNeculaStan/contact" >Contact</a></li>

                                            </div>
            </header>

    <div class="site-grid">
        
        
        
                <div class="grid-child container-sidebar-left">
            <div class="sidebar-left card _menu well effect1">
        <div class="card-body">
<ul class="mod-menu mod-list nav  nav-list">
   <li class="nav-item item-103 default current active"><a href="/MariaNeculaStan/index" aria-current="page">Acasă</a></li>
<li class="nav-item item-113"><a href="/MariaNeculaStan/cv-profesional" >CV profesional</a></li>
<li class="nav-item item-105"><a href="/MariaNeculaStan/activitateDidactica" >Activitate didactică</a></li>
<li class="nav-item item-105"><a href="/MariaNeculaStan/activitateStiintifica" >Activitate științifică</a></li>
<li class="nav-item item-105"><a href="/MariaNeculaStan/galerie" >Galerie foto</a></li>
<li class="nav-item item-105"><a href="/MariaNeculaStan/contact" >Contact</a></li>
</ul>
    </div>
</div>


        </div>
        
        <div class="grid-child container-component">
            
            
            <div id="system-message-container" aria-live="polite"></div>

            <main>
            <div class="com-content-article item-page" itemscope itemtype="https://schema.org/Article">
    <meta itemprop="inLanguage" content="ro-RO">
    
    
     
<div itemprop="articleBody" class="com-content-article__body">
        <div style="text-align: justify;">
<h1> </h1>
<h1> </h1>
<h2 class="mbrown" style="text-align: center;" align="center"><strong class="testscript">CURRICULUM VITAE</strong></h2>
<h2 style="text-align: center;" align="center"> </h2>
<h1 style="text-align: center;">Maria STAN</h1>
<h2 style="text-align: center;" align="center"><br /> <strong>DATE BIOGRAFICE:</strong> Născută în 07 mai 1973, Cuca, jud. GALAȚI<br /> 

<h2 style="text-align: left;" align="center"><strong>STUDII:</strong> Licenţiat al Facultăţii de de Metalurgie şi Stiinţa Materialelor, Universitatea” Dunărea de Jos”, Galaţi, promoţia 1991-1997</h2>
<h2 style="text-align: left;" align="center"><br /> <strong>TEZA DE DOCTORAT:</strong></h2>
<em>obținută în anul 2022, domeniul Inginerie Industrială la Universitatea ”Dunărea de Jos” Galați, Facultatea de Ștințe și Mediu.
<br><br>

<h2><strong>MASTER</strong>:</h2>
<ul>
<li>Master management educaţional/2010/Universitatea” Dunărea de Jos”, Galaţi, Facultatea de Stiinţe Galaţi</li>
</ul>

<h2><strong>TITLUL DIDACTIC</strong>:</h2>
Profesor informatică, gradul didactic I
<br><br>

<h2><strong>CURSURI POSTUNIVERSITARE</strong>:</h2>
<ul>
<li>Proiectare asistată în inginerie mecanică folosind Solidedge/2007/Universitatea” Dunărea de Jos”, Galaţi</li>
<li>Studii postuniversitare de reconversie  Educaţie Tehnologică/ Diploma studii postuniversitare/2001/Universitatea” Dunărea de Jos”, Galaţi, Facultatea de Nave şi Inginerie Electrică</li>
<li>Studii postuniversitare de reconversie Informatică/Diploma studii postuniversitare/2000/Universitatea” Dunărea de Jos”, Galaţi, Facultatea de Nave şi Inginerie Electrică</li>
<li>Studii aprofundate - Studiul aliajelor şi materialelor speciale/1998/Universitatea” Dunărea de Jos”, Galaţi, Faculatea de Metalurgie şi Stiinţa Materialelor</li>
</ul>
<br>

<h2><strong>CURSURI DE FORMARE</strong>:</h2>
<ul>
<li>GOOGLE FOR EDUCATION/2014/Asociaţia Junior Achivement România</li>
<li>Expert autorizat -certificat de participare SISTEMUL  INFORMATIONAL INTEGRAT AL INVATAMANTULUI DIN ROMÂNIA/2014/Ministerul Educaţiei Naţionale - Unitatea de managemet al proiectelor cu finanţare externă</li>
<li>Certificate ECDL complet/2013/CCD GALATI, ECDL Romania</li>
<li>Atestat de formare continuă DEZVOLTAREA PROFESIONALĂ CONTINUĂ PE COMPONENTA INSTRUIRII DIFFERENŢIATE A ELEVILOR ŞI OPORTUNITĂŢI DE CARIERĂ DIDACTICĂ PENTRU PROFESORII DE ŞTIINŢE TEHNOLOGICE ÎN SOCIETATEA CUNOAŞTERII/2013/Universitatea Maritimă din Constanţa</li>
<li>Certificat UTILIZAREA AVANSATĂ A INSTRUMENTELOR TIC/2013/Ministerul Educaţiei Naţional- Unitatea de managemet al proiectelor cu finanţare externă în parteneriat cu S.C. Siveco România şi S.C. Milleenium Design Group SRL</li>
<li>Atestat de formare continuăABILITAREA CURRICULARĂ A PROFESORILOR DE ŞTIINŢE ÎN SOCIETATEA CUNOAŞTERII/2013/Universitatea Maritimă din Constanţa</li>
<li>Atestat de formare continuă INSTRUMENTE ON-LINE PENTRU EDUCAŢIE/2013/Univeritatea POLITEHNICĂ din Bucureşti</li>
<li>Competenţa profesională, Instruirea orientate pe proces, metode de predare utilizate în învăţământul profesional şi tehnic german/2012/Universitatea Tehnică din Cluj Napoca</li>
<li>Atestat de formare continuă FORMAREA DE SPECIALIŞTI ÎN EVALUARE INSAM/2011/S.C. SOFTWIN SRL</li>
<li>FlexFORM- Informatică şi tehnologii educaţionale, platform mecatronice/2011/Universitatea “Dunărea de Jos“ Galaţi- Facultatea de Mecanică</li>
<li>Certificat şcoală de vară “Inovative web Technology”/2010/Universitatea 1 Decembrie 2010</li>
<li>Certificat participare PROIECTUL ÎN FOLOSUL COMUNITĂŢII - FACILITARE ÎN IMPACT/2010/Fundaţia Noi Orizonturi</li>
<li>Certificat de absolvire MENTOR Conducerea  şi să coordonarea practicii pedagogicã a studenţilor/2009/S.C Eurodidactica SRL Iaşi</li>
<li>Certificat de absolvire EVALUATOR DE COMPETENŢE PROFESIONALE/2009/As. Studia Iasi</li>
<li>Certificat de absolvire FORMATOR/2009/As. Studia Iasi</li>
<li>Atestat de formare contină a personalului didactic INSTRUIRE ÎN SOCIETATEA CUNOAŞTERII/2008/S.C. Siveco România</li>
<li>Atestat de formare contină a personalului didactic NOI DIDACTICI IN VIZIUNE TRANSDISCIPLINARA/2007/Centrul Educaţi 2000+</li>
<li>Certificat THINK.COM - Proiecte educaţionale pe platform ThinK/2007/Oracle România</li>
<li>Certificat DATABASE DESIGN AND PROGRAMING/2007/Oracle Romania</li>
<li>Certificat -  IT ESENTIAL-CISCO/2006/CISCO</li>
</ul>

<br>
<h2><strong>STAGII DE FORMARE ÎN STRĂINĂTATE</strong>:</h2>
<ul>
<li>Certificat LET’S MAKE OUR SCHOOL MORE INTERNATIONAL/2016/Institutul CERVANTES, Alcala de Henarers , Madrid-Spania</li>
<li>Certificat LIVING TOGHETHER/2014/UN PONTE CON LA NATURA Erasmus+</li>
<li>Certificat participare Programul European -  Schimb de tineri/2013/Europe Direct Komotini Grecia</li>
<li>Certificat USING E-LEARNING IN THE CLASSROOM/2013/ITC International TEFL certificate s.r.o., Praga, Republica Cehă</li>
<li>Certificate EMPOWERMENT PATHS FOR EUROPEAN CITIZENS II - EP4EC II/2013/EUROPE DIRECT – Carrefour europeo Emilia Reggio Emilia, Italia</li>
<li>Certificat de participare vizită de lucru PARTENERIAT TRANSNAŢIONAL PENTRU DEZVOLATREA ÎNVĂŢĂMÂNTULUI PREUNIVERSITAR TEHNIC PIN APLICAREA SISTEMULUI GERMAN DE PROIECTE PENTRU LUCRĂRI PRACTICE ÎN ATELIERLE ŞCOLARE DIN ROMÂNIA/2012/Institutul Tehnic Dr. Ing. Paul Christiani Germania şi Universitatea Tehnică Cluj-Napoca</li>
<li>Certificat / Mobilitate Europass EURODIDAWEB - PEDAGOGICAL USE OF INTERNET AND MULTIMEDIA TOOLS/2011/.C. “EUROPACLUB” LIDS “SAPIENZA” UNIVERSITY - ROMA</li>
</ul>

<br>
<h2><strong>LIMBI STRĂINE</strong></h2>
<ul>
<li><strong><em>Limba engleză</em></strong>Ascultare B2, Citire B2, Conversație B2, Discurs oral B2</li>
</ul>

<br>
<p> </p>
<p><strong> </strong></p>
<h2><strong>COMPETENȚE INFORMATICE</strong></h2>
<ul>
<li>pachetul Office</li>
<li>PloneCSM</li>
<li>programare C++</li>
<li>Lucrul cu platforme de e-learning şi tehnologii web. 2.0</li>
</ul>

<br>
<p> </p>
<h2><strong>ALTE COMPETENȚE ȘI APTITUDINI</strong></h2>
Comunicare, Negociere

 </div>

</main>
            
</div>

</div>

        <footer class="container-footer footer full-width">
            <div class="grid-child">
            
                <div id="mod-custom97" class="mod-custom custom">
                    <div><a href="https://radu-negru.ro/">Liceul Tehnologic "Radu Negru" din Galați</a></div>
                <div>&nbsp;</div></div>
                
                <div id="mod-custom105" class="mod-custom custom">
                    <div><a href="https://www.facebook.com/radunegrugl/">Facebook - Liceul Tehnologic "Radu Negru" din Galați </a></div>
                <div>&nbsp;</div></div>
                
                <div id="mod-custom106" class="mod-custom custom">
                    <div align=center><a href="https://sciences.ugal.ro/index.php/ro/">Facultatea de Științe și Mediu,<br> Universitatea "Dunărea de Jos" din Galați</a></div>
                <div>&nbsp;</div></div>
                
                        </div>
    </footer>
    
            <a href="#top" id="back-top" class="back-to-top-link" aria-label="Înapoi sus">
            <span class="icon-arrow-up icon-fw" aria-hidden="true"></span>
        </a>
    
    
<div id="mod-custom104" class="mod-custom custom">
    <p class="text-white text-center mx-auto" style="position: absolute; bottom: 0;"> © 2023 Maria STAN pagina web personala</p></div>

</body>
</html>
