<!DOCTYPE html>
<html lang="ro-ro" dir="ltr">
<head>
    <meta charset="utf-8">
	<meta name="author" content="opopao">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Maria STAN Galerie foto">
	<meta name="generator" content="Joomla! - Open Source Content Management">
	<title>CV profesional Maria STAN</title>

        <link href="css/joomla-fontawesome.min.css?901ea6599d4fb5ee020b0b4aac736d8c" rel="lazy-stylesheet" /><noscript>
        <link href="css/joomla-fontawesome.min.css?901ea6599d4fb5ee020b0b4aac736d8c" rel="stylesheet" /></noscript>
        <link href="css/colors_alternative.min.css?901ea6599d4fb5ee020b0b4aac736d8c" rel="stylesheet" />
        <link href="css/template.min.css?901ea6599d4fb5ee020b0b4aac736d8c" rel="stylesheet" />
        <link href="css/joomla-alert.min.css?0.2.0" rel="stylesheet" />
        <link href="css/user.css?901ea6599d4fb5ee020b0b4aac736d8c" rel="stylesheet" />

	<style>:root {
		--hue: 214;
		--template-bg-light: #f0f4fb;
		--template-text-dark: #495057;
		--template-text-light: #ffffff;
		--template-link-color: #2a69b8;
		--template-special-color: #001B4C;
		
	}</style>

<style>
    div.img {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 180px;
    }
    
    div.img:hover {
        border: 1px solid #777;
    }
    
    div.img img {
        width: 100%;
        height: auto;
    }
    
    div.desc {
        padding: 15px;
        text-align: center;
    }
    </style>

</head>

<body class="site com_content wrapper-fluid view-article no-layout no-task itemid-113 has-sidebar-left">
    <header class="header container-header full-width"> 
        <div class="grid-child">
            <div class="navbar-brand">
Maria Stan pagina web personala
                                </div>
        </div>
        
                    <div class="grid-child container-nav">
                                    <ul class="mod-menu mod-list nav  nav-pills darkred">
<li class="nav-item item-103 default current active"><a href="/MariaNeculaStan/index" aria-current="page">Acasă</a></li>
<li class="nav-item item-113"><a href="/MariaNeculaStan/cv-profesional" >CV profesional</a></li>
<li class="nav-item item-105"><a href="/MariaNeculaStan/activitateDidactica" >Activitate didactică</a></li>
<li class="nav-item item-105"><a href="/MariaNeculaStan/activitateStiintifica" >Activitate științifică</a></li>
<li class="nav-item item-105"><a href="/MariaNeculaStan/galerie" >Galerie foto</a></li>
<li class="nav-item item-105"><a href="/MariaNeculaStan/contact" >Contact</a></li>

                                            </div>
            </header>

    <div class="site-grid">
        
        
        
                <div class="grid-child container-sidebar-left">
            <div class="sidebar-left card _menu well effect1">
        <div class="card-body">
<ul class="mod-menu mod-list nav  nav-list">
<li class="nav-item item-103 default current active"><a href="/MariaNeculaStan/index" aria-current="page">Acasă</a></li>
<li class="nav-item item-113"><a href="/MariaNeculaStan/cv-profesional" >CV profesional</a></li>
<li class="nav-item item-105"><a href="/MariaNeculaStan/activitateDidactica" >Activitate didactică</a></li>
<li class="nav-item item-105"><a href="/MariaNeculaStan/activitateStiintifica" >Activitate științifică</a></li>
<li class="nav-item item-105"><a href="/MariaNeculaStan/galerie" >Galerie foto</a></li>
<li class="nav-item item-105"><a href="/MariaNeculaStan/contact" >Contact</a></li>
</ul>
    </div>
</div>


        </div>
        
        <div class="grid-child container-component">
            
            
            <div id="system-message-container" aria-live="polite"></div>

            <main>
            <div class="com-content-article item-page" itemscope itemtype="https://schema.org/Article">
    <meta itemprop="inLanguage" content="ro-RO">
    
    
     
<div itemprop="articleBody" class="com-content-article__body">
        <div style="text-align: justify;">
<h1> </h1>
<h1> </h1>
<h2 class="mbrown" style="text-align: center;" align="center"><strong class="testscript">GALERIE FOTO</strong></h2>
<br>

<div class="img">
    <a target="_blank" href="images/galerieFoto/1.jpg">
      <img src="images/galerieFoto/1.jpg" alt="Fjords" width="300" height="200">
    </a>
    <div class="desc">Vizita la Șantierul naval</div>
  </div>

  <div class="img">
    <a target="_blank" href="images/galerieFoto/2.jpg">
      <img src="images/galerieFoto/2.jpg" alt="Fjords" width="300" height="200">
    </a>
    <div class="desc">Vizită la UGAL<br><br></div>
  </div>

  <div class="img">
    <a target="_blank" href="images/galerieFoto/3.jpg">
      <img src="images/galerieFoto/3.jpg" alt="Fjords" width="300" height="200">
    </a>
    <div class="desc">Facultatea de Științe<br><br></div>
  </div>

  <div class="img">
    <a target="_blank" href="images/galerieFoto/4.jpg">
      <img src="images/galerieFoto/4.jpg" alt="Fjords" width="300" height="200">
    </a>
    <div class="desc"></div>Târgul de ofertă școlară<br><br></div>
  </div>
  
  <div class="img">
    <a target="_blank" href="images/galerieFoto/5.jpg">
      <img src="images/galerieFoto/5.jpg" alt="Fjords" width="300" height="200">
    </a>
    <div class="desc">Sesiune de prezentări</div>
  </div>

  <div class="img">
    <a target="_blank" href="images/galerieFoto/6.jpg">
      <img src="images/galerieFoto/6.jpg" alt="Fjords" width="300" height="200">
    </a>
    <div class="desc">Laborator info 1<br><br></div>
  </div>

</main>
            
</div>

</div>

        <footer class="container-footer footer full-width">
            <div class="grid-child">
            
                <div id="mod-custom97" class="mod-custom custom">
                    <div><a href="https://radu-negru.ro/">Liceul Tehnologic "Radu Negru" din Galați</a></div>
                <div>&nbsp;</div></div>
                
                <div id="mod-custom105" class="mod-custom custom">
                    <div><a href="https://www.facebook.com/radunegrugl/">Facebook - Liceul Tehnologic "Radu Negru" din Galați </a></div>
                <div>&nbsp;</div></div>
                
                <div id="mod-custom106" class="mod-custom custom">
                    <div align=center><a href="https://sciences.ugal.ro/index.php/ro/">Facultatea de Științe și Mediu,<br> Universitatea "Dunărea de Jos" din Galați</a></div>
                <div>&nbsp;</div></div>
                
                        </div>
    </footer>
    
            <a href="#top" id="back-top" class="back-to-top-link" aria-label="Înapoi sus">
            <span class="icon-arrow-up icon-fw" aria-hidden="true"></span>
        </a>
    
    
<div id="mod-custom104" class="mod-custom custom">
    <p class="text-white text-center mx-auto" style="position: absolute; bottom: 0;"> © 2023 Maria STAN pagina web personala</p></div>

</body>
</html>
