<!DOCTYPE html>
<html lang="ro-ro" dir="ltr">
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Maria STAN">


    <link href="/MariaNeculaStan/css/joomla-fontawesome.min.css?901ea6599d4fb5ee020b0b4aac736d8c" rel="lazy-stylesheet" /><noscript>
    <link href="/MariaNeculaStan/css/joomla-fontawesome.min.css?901ea6599d4fb5ee020b0b4aac736d8c" rel="stylesheet" /></noscript>
	<link href="/MariaNeculaStan/css/colors_alternative.min.css?901ea6599d4fb5ee020b0b4aac736d8c" rel="stylesheet" />
	<link href="/MariaNeculaStan/css/template.min.css?901ea6599d4fb5ee020b0b4aac736d8c" rel="stylesheet" />
	<link href="/MariaNeculaStan/css/joomla-alert.min.css?0.2.0" rel="stylesheet" />
	<link href="/MariaNeculaStan/css/user.css?901ea6599d4fb5ee020b0b4aac736d8c" rel="stylesheet" />

	<style>:root {
		--hue: 214;
		--template-bg-light: #f0f4fb;
		--template-text-dark: #495057;
		--template-text-light: #ffffff;
		--template-link-color: #2a69b8;
		--template-special-color: #001B4C;
		
	}</style>

</head>

<body class="site com_content wrapper-fluid view-featured no-layout no-task itemid-103 has-sidebar-left has-sidebar-right">
    <header class="header container-header full-width">

        
        
                    <div class="grid-child">
                <div class="navbar-brand">
Maria Stan pagina web personala
                    
                                    </div>
            </div>
        
                    <div class="grid-child container-nav">
                                    <ul class="mod-menu mod-list nav  nav-pills darkred">
<li class="nav-item item-103 default current active"><a href="/MariaNeculaStan/index" aria-current="page">Acasă</a></li>
<li class="nav-item item-113"><a href="/MariaNeculaStan/cv-profesional" >CV profesional</a></li>
<li class="nav-item item-105"><a href="/MariaNeculaStan/activitateDidactica" >Activitate didactică</a></li>
<li class="nav-item item-105"><a href="/MariaNeculaStan/activitateStiintifica" >Activitate științifică</a></li>
<li class="nav-item item-105"><a href="/MariaNeculaStan/galerie" >Galerie foto</a></li>
<li class="nav-item item-105"><a href="/MariaNeculaStan/contact" >Contact</a></li>
</ul>

                                            </div>
            </header>

    <div class="site-grid">
                    <div class="container-banner full-width">
                
<div id="mod-custom90" class="mod-custom custom">
    <p><img class="effect1" style="display: block; margin-left: auto; margin-right: auto;" src="/MariaNeculaStan/images/rn1.jpg" alt="uaic2" /></p></div>

            </div>
        
        
                <div class="grid-child container-sidebar-left">
            <div class="sidebar-left card _menu well effect1">
        <div class="card-body">
<ul class="mod-menu mod-list nav  nav-list">
<li class="nav-item item-103 default current active"><a href="/MariaNeculaStan/index" aria-current="page">Acasă</a></li>
<li class="nav-item item-113"><a href="/MariaNeculaStan/cv-profesional" >CV profesional</a></li>
<li class="nav-item item-105"><a href="/MariaNeculaStan/activitateDidactica" >Activitate didactică</a></li>
<li class="nav-item item-105"><a href="/MariaNeculaStan/activitateStiintifica" >Activitate științifică</a></li>
<li class="nav-item item-105"><a href="/MariaNeculaStan/galerie" >Galerie foto</a></li>
<li class="nav-item item-105"><a href="/MariaNeculaStan/contact" >Contact</a></li>

</ul>
    </div>
</div>





        </div>
        
        <div class="grid-child container-component">
            
            
            <div id="system-message-container" aria-live="polite"></div>

            <main>
            <div class="blog-featured" itemscope itemtype="https://schema.org/Blog">
    
            <div class="blog-items items-leading ">
                            <div class="blog-item"
                    itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
                        

<div class="item-content">
    
    
              
        
    <p style="text-align: center;"><strong><img class="effect1" style="display: block; margin: 20px auto;" src="/MariaNeculaStan/images/eu.jpg" width="50%" height="50%"alt="prof. Maria Stan" /></strong></p>
<h2 style="text-align: center;">Prof. dr. Maria Stan</h2>
<h3 style="text-align: center;"><strong>Liceul Tehnologic „Radu Negru” din Galați</strong></h3>
<p><strong> </strong></p>
<p> </p>
<h3 style="text-align: center;"> </h3>
    
    
    
</div>

                </div>
                    </div>
    
    
    
    
</div>

            </main>
            
        </div>

                <div class="grid-child container-sidebar-right">
            
<div id="mod-custom100" class="mod-custom custom">
    <p> </p>
<p> </p>
<br>
<p style="text-align: center;"><span style="font-family: 'comic sans ms', sans-serif; font-size: 12pt;"><em>
"Este suficient doar să începi ca să poți câștiga.”</p>
<p style="text-align: right;"><em>Robin Sharma</em></p>
<br><br><br>
<p dir="ltr"><img style="display: block; margin-left: auto; margin-right: auto;" src="images/oldbooks.png" alt="oldbooks" /></p></div>

        </div>
        
        
            </div>

        <footer class="container-footer footer full-width">
        <div class="grid-child">
            
<div id="mod-custom97" class="mod-custom custom">
    <div><a href="https://radu-negru.ro/">Liceul Tehnologic "Radu Negru" din Galați</a></div>
<div>&nbsp;</div></div>

<div id="mod-custom105" class="mod-custom custom">
    <div><a href="https://www.facebook.com/radunegrugl/">Facebook - Liceul Tehnologic "Radu Negru" din Galați </a></div>
<div>&nbsp;</div></div>

<div id="mod-custom106" class="mod-custom custom">
    <div align=center><a href="https://sciences.ugal.ro/index.php/ro/">Facultatea de Științe și Mediu,<br> Universitatea "Dunărea de Jos" din Galați</a></div>
<div>&nbsp;</div></div>

        </div>
    </footer>
    
  
<div align=center>
    <p class="text-white text-center" style="position: absolute; bottom: 0;"> © 2023 Maria STAN pagina web personala</p>
</div>

</body>
</html>
