{% extends 'base.html.twig' %}

{% block title %}Hello CatalinGalleryController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<img src="{{asset('images/alfa.jpg')}}" alt="Alfa Romeo">
<<<<<<< HEAD

=======
<
>>>>>>> 4b8d7f1 (Pagina Dinamica)
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
    <form>
  <!-- Email input -->
  <div class="form-outline mb-4">
    <input type="email" id="form2Example1" class="form-control" />
    <label class="form-label" for="form2Example1">Email address</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input type="password" id="form2Example2" class="form-control" />
    <label class="form-label" for="form2Example2">Password</label>
  </div>

  <!-- 2 column grid layout for inline styling -->
  <div class="row mb-4">
    <div class="col d-flex justify-content-center">
      
    </div>

    <div class="col">
      <!-- Simple link -->
      <a href="#!">Forgot password?</a>
    </div>
  </div>

  <!-- Submit button -->
  <button type="button" class="btn btn-primary btn-block mb-4">Sign in</button>

  
  </div>
</form>

    This friendly message is coming from:
    <ul>
<<<<<<< HEAD
        <li>Acesta este primul element din lista.</li>
        <li>Acesta este al doilea element din lista.</li>
=======
        <li>Your controller at <code><a href="{{ 'F:/documente cata/master/anul 2/sem 2/Lucru in echipa/src/Controller/CatalinGalleryController.php'|file_link(0) }}">src/Controller/CatalinGalleryController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'F:/documente cata/master/anul 2/sem 2/Lucru in echipa/templates/catalin_gallery/index.html.twig'|file_link(0) }}">templates/catalin_gallery/index.html.twig</a></code></li>
>>>>>>> 4b8d7f1 (Pagina Dinamica)
    </ul>
</div>
{% endblock %}
