{% extends 'base.html.twig' %}

{% block title %}Edit BlogComment{% endblock %}

{% block body %}
    <h1>Edit BlogComment</h1>

    {{ include('blog_comment/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_blog_comment_index') }}">back to list</a>

    {{ include('blog_comment/_delete_form.html.twig') }}
{% endblock %}
