<!DOCTYPE html>
<html>
    <head>
        <title>{{owner}}</title>
        <link rel="stylesheet" href="BasemHammad/css/style.css">
    </head>

    <body>
        <header>
            <img src="/BasemHammad/images/img.jpg" class="profile-img">
            <nav>
                <ul>
                    <li><a href="#hero">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <section id="hero">
                <div class="section-inner">
                    <img src="/BasemHammad/images/img.jpg" class="profile-img">
                    <h1>Hi, I'm {{owner}}</h1>
                </div>
            </section>
            <section id="about">
                <div class="section-inner">
                    <h2>About me</h2>
                    <p>I have {{age}} years old, i finished studying Computer Science in Alba Iulia Romania , now im studying Master in programming.  </p>
                    <p>Now im working as backend Developer which is for me, i like it more than the front end, designing and managing database and creating APIs is my passion</p>
                    <h3>Skills</h3>
                    <ul>
                        <li>React</li>
                        <li>React Native</li>
                        <li>Nodejs</li>
                        <li>Nestjs</li>
                        <li>database</li>
                    </ul>
                </div>
            </section>
            <section id="contact">
                <div class="section-inner">
                    <h2>Contact me</h2>
                    <p>You can find me on:</p>
                    <ul>
                        <li><a href="https://www.linkedin.com/in/qumseya-ibrahim-95b4171b3/">LinkedIn</a></li>
                        <li><a href="https://www.facebook.com/IbrahimQumseya">Facebook</a></li>
                        <li><a href="https://github.com/IbrahimQumseya">Github</a></li>
                    </ul>
                    <p>Or, you can <a href="mailto:ibrahim-qum@hotmail.com">send me an email</a>.</p>
                </div>
            </section>
        </main>
          <footer>
            {{copyrightInterval}}
        </footer>
    </body>
</html>