<html>
  <head>
    <title>Adelin Dumbrava</title>
	<link type = "text/css" rel="stylesheet" href="css/adelin.css">
  </head>

  <body
	<div class="grid-container">
		<img src="AD.jpg" width="300" height="300">
		<div id = "text">
			<p>Bună ziua și bine ați venit pe pagina mea de prezentare!</p>
			<p>Mă numesc Adelin, și sunt încântat să împărtășesc cu voi două dintre marile mele pasiuni: lumea criptomonedelor și călătoriile.<br>
			De mic am fost fascinat de matematică și de tehnologie, iar interesul meu pentru criptomonede a început să crească în timpul studiilor mele universitare. În prezent, îmi place să explorez lumea monedelor digitale și să învăț mai multe despre tehnologiile blockchain care stau la baza lor. 
            Sunt pasionat de modul în care acestea pot schimba economia globală și pot oferi oportunități noi și inovatoare pentru investitori și antreprenori.</p>
			<p>În afară de pasiunea mea pentru criptomonede, îmi place să călătoresc și să explorez lumi noi. Am vizitat deja multe țări și orașe din întreaga lume, și mereu mă bucur să descopăr culturi noi, gastronomii diverse și locuri minunate. În călătoriile mele, îmi place să împărtășesc experiențele și să încurajez și pe alții să-și urmeze visele și să exploreze lumea din jurul lor.</p>
            <h2>Top 3 cryptomonede</h2>
            <ul>
                <li>BTC</li>
                <li>SUI</li>
                <li>DOGE</li>
            </ul>
	</div>
  </body>
</html>
