<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="crisd.css">
<link href="{{ asset('css/crisd.css') }}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="row">
      <div class= "column">
        <img src="{{ asset('ADO.jpg') }}"/>
      </div>
      <div  class="column">
        <h1>This is my beautiful dog Ador.</h1>
        <p>He works as a mountain rescue dog.</p>
        <p>But in his free time he likes:</p>
        <ul>
            <li>Running after sticks.</li>
            <li>Playing with medium rocks.</li>
            <li>Eating everything his human eats.</li>
        </ul>
      </div>
    </div>
</div>
</body>
</html>