<html>
  <head>
    <title>Plotuna Maria Magdalena</title>
	<link type = "text/css" rel="stylesheet" href="Magda.css">
  </head>

  <body>
	<div class="grid-container">
		<img src="Magda.jpg" width="600" height="600">
		<div id = "text">
			<p>Auditul de securitate este o evaluare sistematică a sistemelor informatice ale companiei , pentru a asigura că acestea funcționează fără probleme și eficient. De asemenea, poate economisi banii organizației. De exemplu, este posibil să se descopere probleme de conformitate care pot duce la amenzi și, eventual, pot afecta retenția clienților.
			<p>În cele din urmă, auditurile de securitate ajută să asigure că compania este protejată și că informațiile sensibile sunt stocate și gestionate în mod corespunzător.<p>
			<p>Sunt patru tipuri de audituri de securitate pe care ar trebui efectuate în mod regulat pentru a proteja afacerea, angajații și clienții.<p>
			<p>Există multe tipuri diferite de audituri de securitate. Unele audituri sunt special concepute pentru a asigura că organizația este conformă din punct de vedere legal. Alte audituri se concentrează pe recunoașterea vulnerabilităților potențiale din infrastructura IT. <p>
			<p>Iată patru tipuri de audituri de securitate pe care ar trebui să le efectueze companiile în mod regulat pentru a menține afacerea în formă maximă:<p>
			<ul>
			  <li>1.Evaluarea riscurilor</li>
			  <li>2.Evaluarea vulnerabilității</li>
			  <li>3.Test de penetrare</li>
			  <li>4.Auditul Conformității</li>
			</ul>
		</div>
	</div>
  </body>
</html>
