<html>
  <head>
    <title>Octavian Petras</title>
	<link type = "text/css" rel="stylesheet" href="CSS/octavian.css">
  </head>

  <body
	<div class="grid-container">
		<img src="images/eu.jpg" width="300" height="300">
		<div id = "text">
			<p>Bun venit pe pagina mea personală !</p>
			<p>Sunt un pasionat de gătit. Îmi place să experimentez noi rețete și să fotografiez preparatele pentru ale pune pe blog.Sunt foodbloger de 2 ani de zile și gătesc  de la 14 ani.</p>
            <p>În timpul meu liber, îmi place să explorez locuri noi și să gust preparatele locale. Sunt, de asemenea, un iubitor de filme și ador să comedie și filme romantice.</p>
			<h2>Hobby-uri</h2>
            <ul>
                <li>Filme</li>
                <li>Călătorii</li>
                <li>Gătit</li>
                <li>Fotografie</li>
            </ul>
		
	</div>
  </body>
</html>

