<html>
  <head>
    <title>Barlea Otilia-Ionela</title>
	<link type = "text/css" rel="stylesheet" href="css/Otilia.css">
  </head>

  <body>
	<div class="grid-container">
		<img src="barcaciu.jpg" width="400" height="500">
		<div id = "text">
			<p>Sunt Otilia</p>
			<p>Fotografia de mai sus, este din tura de iarna, a anului 2021</p>
			<p>la cabana Barcaciu</p>
			<ul>
			  <li>zapada</li>
			  <li>ceai</li>
			  <li>prieteni</li>
			</ul>
		</div>
	</div>
  </body>
</html>
