<html>
  <head>
    <title>Cristiana-Maria Pavel</title>
	<link type = "text/css" rel="stylesheet" href="css/cristiana-maria-pavel/paginaPersonala.css">
  </head>

  <body>
	<div class="grid-container">
		<img src="poza.jpg" width="300" height="300">
		<div id = "text">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fringilla velit at metus tempus, eu interdum sem commodo. Morbi ut ultrices massa. Maecenas id sem condimentum, laoreet ante sed, venenatis nisi. Mauris quis feugiat neque. Ut eget lacinia sapien. Suspendisse vitae magna et mi fringilla dictum. Vestibulum purus eros, finibus eget ipsum eu, vulputate facilisis quam. Sed ut justo quam. Integer eros augue, pretium rhoncus odio eget, accumsan tristique augue. Donec vitae ipsum ultricies ligula pretium semper. Suspendisse potenti. Quisque vestibulum aliquam quam, sit amet faucibus ipsum lacinia ut. Donec auctor sed dui sed pulvinar.</p>
			<p>Donec rutrum sem at dui tincidunt tristique. Ut sed vehicula metus. Etiam non dapibus ipsum. Proin et massa dolor. Proin at arcu mollis, convallis lectus a, consequat ipsum. Donec molestie neque ut eros luctus, at laoreet augue pharetra. Vestibulum nec tellus a sem mollis pellentesque at nec tellus. Vestibulum nec mauris augue. Morbi ut tellus sit amet sem aliquet rhoncus. Pellentesque mollis lacinia elit, sagittis mattis nisl commodo interdum. Praesent eget tincidunt nisl.</p>
			<p>Praesent maximus urna et felis fermentum, sit amet rhoncus ligula consectetur. Nam hendrerit eget libero a egestas. Phasellus sit amet odio mauris. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc scelerisque vehicula nisi et fermentum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse in turpis varius, imperdiet magna ut, auctor risus. Phasellus quis nunc nec diam rhoncus accumsan. Nulla facilisi. Quisque elementum ex eleifend congue suscipit.</p>
			<ul>
			  <li>Symfony</li>
			  <li>GitHub</li>
			  <li>Composer</li>
			</ul>
		</div>
	</div>
  </body>
</html>
