<!DOCTYPE html>
<html>
<head>
  <title>Paul</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
      background-image: url("/images/background.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    .grid-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 20px;
      max-width: 800px;
      margin: 0 auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    img {
      width: 100%;
      height: auto;
      border-radius: 5px;
    }

    #text {
      margin-top: 20px;
    }

    h2 {
      color: #555;
      margin-top: 20px;
    }

    ul {
      list-style-type: disc;
      padding-left: 20px;
    }

    p {
      color: #333;
      line-height: 1.5;
    }
  </style>
</head>

<body>
  <div class="grid-container">
    <img src="images/avatar.jpg" alt="Profile Picture">
    <div id="text">
      <h1>Bun venit pe pagina mea personală!</h1>
      <h2>Hobby - Camping</h2>
            <p>Campingul este una dintre activitățile mele preferate în timpul liber. Îmi place să mă deconectez de agitația cotidiană și să petrec timp în natură, în mijlocul peisajelor pitorești. Fie că este vorba despre camping în pădure, lângă un lac sau în munți, această experiență îmi oferă o oportunitate de a scăpa de stres și de a mă reconecta cu mediul înconjurător.</p>

            <p>Cu un cort confortabil și echipamentul potrivit, pot să explorez și să descopăr locuri noi. Îmi place să fac drumeții pe trasee montane, să fac foc de tabără și să stau sub cerul înstelat. Mă bucur de priveliștea răsăritului sau apusului de soare în timp ce savurez o ceașcă de cafea la cort. Campingul mă ajută să îmi încarc bateriile și să experimentez un sentiment de libertate și aventură.</p>
      <h2>Alte hobby-uri</h2>
      <ul>
        <li>Muzica</li>
        <li>Masini</li>
        <li>Sporturi de iarna</li>
      </ul>
    </div>
  </div>
</body>
</html>
