<!DOCTYPE html>
<html>
<head>
<title>David Roxana</title>
<link rel="stylesheet" href="css/roxana.css">
</head>

<body>
    <h1>Cine sunt? </h1>
    <p> Salut! Ma numesc David Roxana-Maria! Am 24 de ani, am absolvit facultatea de Matematica si Informatica si in prezent urmez cursurile masterului de Programare avansata si baze de date al facultatii de Informatica si Inginerie. </p>
        <img src="poza_roxana.jpg" alt="poza_personala" width="300" height="300">

    <h2>Despre mine</h2>
   <p> Sunt o persoană muncitoare, perseverentă, proactivă, spontană, curoajoasă, îmi place să fac lucruri noi. Am
o fire călduroasă și optimistă. Îmi place să lucrez cu oamenii, consider ca am un stil de lucru eficient bazat pe prioritizarea sarcinilor de lucru.
</p>
 
<h2>Abilitati</h2>
<ul>
    <li>Team player</li>
    <li>Comunicativ </li>
    <li>Matematica</li>
    <li>Informatica</li>
    <li>Creativa</li>
  </ul>

</body>

</html>