{# templates/security/login_success.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Login Success{% endblock %}

{% block body %}
    <div class="container">
        <h2>Login Successful</h2>
        <p>Welcome, {{ username }}!</p>
        <p>You have successfully logged in.</p>
    </div>
{% endblock %}