<html>
  <head>
    <title>Bartha Tiberiu</title>
	<link type = "text/css" rel="stylesheet" href="css/TiBa.css">
  </head>

  <body>
	<div class="grid-container">
		<img src="Happy_Day.jpg" width="400" height="400">
		<div id = "text">
			<p>Buna. Sunt Tiberiu Bartha.
			<p>Aceasta este prima iteratie a unei pagini personale utilizand tehnologia GIT.
			<p>Descriere GIT: Git este un sistem de control al versiunilor, care rulează pe majoritatea platformelor, inclusiv Linux, POSIX, Windows și OS X. Ca și Mercurial, Git este un sistem distribuit și nu întreține o bază de date comună. Este folosit în echipe de dezvoltare mari, în care membrii echipei acționează oarecum independent și sunt răspândiți pe o arie geografică mare.			<ul>
			  <li>PABD23</li>
			  <li>PSE</li>
			  <li>TiBa</li>
			</ul>
		</div>
	</div>
  </body>
</html>
