<html>
   <head>
      <title>{{owner}}</title>
      <link rel="stylesheet" href="UserBlog/css/userBlog.css" />
   </head>
   <body class="body-style">
    <div class="bg-column">
         <div class="formStyle">

            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
     </div>
   </body>
</html>