<!DOCTYPE html>
<html>
<head>
    <title>Mihai Bolojan</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <h1>Mihai Bolojan</h1>
    <p>Hi, I'm Mihai Bolojan! I'm a sports enthusiast and here are some sports I enjoy:</p>
    <ul>
        <li>Basketball</li>
        <li>American Football</li>
        <li>Hockey</li>
        <li>Baseball</li>
        <li>Formula 1</li>
    </ul>
    <h2>Legends in Sports</h2>
    <h3>Basketball:</h3>
    <ul>
        <li>Michael Jordan</li>
        <li>LeBron James</li>
        <li>Kobe Bryant</li>
    </ul>
    <h3>American Football:</h3>
    <ul>
        <li>Tom Brady</li>
        <li>Jerry Rice</li>
        <li>Walter Payton</li>
    </ul>
    <h3>Hockey:</h3>
    <ul>
        <li>Wayne Gretzky</li>
        <li>Mario Lemieux</li>
        <li>Bobby Orr</li>
    </ul>
    <h3>Baseball:</h3>
    <ul>
        <li>Babe Ruth</li>
        <li>Hank Aaron</li>
        <li>Willie Mays</li>
    </ul>
    <h3>Formula 1:</h3>
    <ul>
        <li>Michael Schumacher</li>
        <li>Ayrton Senna</li>
        <li>Lewis Hamilton</li>
    </ul>
    <p>Feel free to check out my GitHub profile: <a href="https://github.com/bmihai23">https://github.com/bmihai23</a></p>
</body>
</html>
