<html>
  <head>
    <title>Eugeniu</title>
	<link type = "text/css" rel="stylesheet" href="'css/Eugeniu/Eugeniu.css'">
  </head>

  <body>
	<div class="grid-container">
		<img src="css/Eugeniu/erou.png" width="600" height="600">
		<div id = "text">
			<p>Pagina mea<p>
			<ul>
			  <li>Paze de date</li>
			  <li>Programare avansata</li>
			</ul>
		</div>
	</div>
  </body>
</html>
