<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
        <title>Simple Blog</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/TPstyle.css') }}">
</head>
<body>
<div class="container">
    <header>
    <div class="profile-picture">
      <img src="{{ asset('POD.jpg') }}" alt="Profile Picture">
    </div>
    <h1>Paul T</h1>
    <p>Tester</p>
  </header>

  <div class="container">
    <section>
      <h2>Despre Mine</h2>
      <p>Sunt un pasionat de teste de software și hardware cu experiență în C++, ANSI C și CANoe. Îmi place să încerc fiecare funcționalitate a produsului .</p>
    </section>

    <section>
      <h2>Skills</h2>
      <ul>
        <li>C++</li>
        <li>ANSI C</li>
        <li>CANoe</li>
        <li>CAPL</li>
      </ul>
    </section>

    <section>
      <h2>Contact</h2>
      <p>Email: tpaul@gmail.com</p>
      <p>Phone: 123-456-7890</p>
    </section>
  </div>
</div>
</body>
</html>